@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Handlee&family=Sacramento&family=Satisfy&display=swap');

html {
    scroll-behavior: smooth;

}

body {
    background-color: rgb(12, 10, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow-x: hidden;
    margin: 0;
}


p {
    color: #eeeeee;
    font-family: 'lato', Helvetica, sans-serif;

}

#top-section {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#title {
    color: black;
    font-family: 'Satisfy', cursive;
    cursor: pointer;
    font-size: medium;
}

#links {
    display: flex;
    flex-direction: row;

}

#links a {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #eeeeee;
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 5px;
    text-decoration: none;
}

#links a:hover {
    color: #ff4545;
    transition: 0.5s;
}

#introduction-h-2 {
    max-width: 380px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: normal;
}

#about {
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 2rem;

}



#introduction {
    font-size: 30px;
    display: flex;
    align-items: center;
    max-width: 1040px;
}


#introduction h1 {

    font-size: 84px;

}

.bold {
    font-weight: bold;
}

h1 {
    color: #eeeeee;
    font-family: "Satisfy";
}

.grid-container svg {
    fill: #eeeeee;
}

.amin {
    accent-color: #ff050f;
    color: #ff272e;
    font-family: Helvetica, sans-serif;
    cursor: pointer;

}

.highlight {
    color: #ff272e;
    cursor: pointer;
}


.bounce:hover {
    animation-name: bounce;
    animation-duration: 0.75s;
}

@keyframes bounce {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0)
    }
}

.shake:hover {
    cursor: pointer;
    animation-name: shake;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-5px)
    }

    100% {
        transform: translateY(0)
    }

}



#titleText:hover:after {
    content: attr(data-hover);

}

.grow {
    transform: scale(1);
    transition: transform 0.3s ease;
}

.grow:hover {
    transform: scale(1.25);
    z-index: 1;

}



#certifications {
    font-weight: bolder;
    color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact-me-parts {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

#certifications-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#certifications-items img {
    padding: 1rem;
    width: 40vw;
    height: 60vh;
}




/* Gallery styles */


#gallery h1 {
    color: #191818;
    text-align: center;
}

#gallery {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #e2e2e2;

}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 0px 20px 20px 20px;
    background-color: #e2e2e2;

}

.gallery-item {
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #c7c7c7;
    box-shadow: 0 0 5px #030020;
    background-color: #e2e2e2;

}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}



.caption {
    text-align: center;
    padding: 10px;
    background-color: #e2e2e2;
    color: rgb(12, 10, 17);


}

/* Portfolio styles */
#portfolio,
#blog {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#portfolio-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#portfolio iframe {
    width: 40vw;
}





.rotate {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

#sun {
    visibility: visible;
    cursor: pointer;
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;

}

#moon {
    visibility: hidden;
    position: absolute;



}




/* styles.css */


.grid-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjust the number of columns as needed */
    /* Adjust the gap between icons */
    max-width: 500px;
    /* Adjust the maximum width of the grid */

}

.grid-item {
    text-align: center;
    width: 150px;
}




.grid-item img {
    width: 50px;
    /* Adjust the icon size as needed */
    height: 50px;
}


/* Form */
.container {
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}


.container label {
    font-size: 16px;

    color: #030020;
}

#findMeOnline {
    margin: 0px;
    padding: 0px;
}

.form-group {
    padding-bottom: 15px;
}

.container label {
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    background-color: #eeeeee;
    width: 100%;
    padding: 10px;
    border: 1px solid #9a9999;
    border-radius: 4px;
}

#contact h1 {
    color: #eeeeee;

}

#contact {
    background-color: rgb(12, 10, 17);

    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: #ff4545;
    font-family: "Lato", Helvetica;
    color: #eeeeee;
    margin: 0px 0px;
    border: none;
    border-radius: 6px;
    padding: 8px 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff272e;
}

#contact button[type="submit"] {
    background-color: #ff4545;
    font-family: "Lato";
    color: #eeeeee;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#contact button[type="submit"]:hover {
    background-color: #ff272e;
}



footer {
    padding: 0rem 0rem 0rem 0rem;
}

footer p {
    padding: 1rem;
    color: #eeeeee;

}

@media only screen and (max-width: 768px) {
    #contact-me-parts {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #introduction {
        font-size: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 1040px;
    }


    #introduction h1 {

        font-size: 30px;

    }

    #introduction-h-2 {
        max-width: none;
    }

    #sun {
        visibility: visible;
        cursor: pointer;
        position: relative;
        padding-left: 0rem;
        padding-right: 2rem;

    }

    #moon {
        visibility: hidden;
        position: absolute;

    }

    #contact {
        background-color: rgb(12, 10, 17);


        display: flex;
        align-items: center;
        flex-direction: column;
        width: 80vw;
    }

    #top-section p {
        text-align: center;
        color: #eeeeee;
    }

    #top-section {
        margin: 0rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #eeeeee;
    }


    #certifications-items img {
        padding: 1rem 2rem;
        width: 80vw;
        height: 40vh;
    }

    h1 {
        text-align: center;
    }

    p {
        color: #eeeeee;
        font-family: 'lato', Helvetica, sans-serif;

    }

    html,
    body {
        overflow-x: hidden;
    }


    .highlight {
        background-color: rgb(12, 10, 17);
        color: #ff272e;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        padding: 0px 0px 0px 0px;
        border-radius: 0px;
        cursor: pointer;

    }



    body {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #3a3a3b;
        font-family: 'Lato', Helvetica, sans-serif;

    }

    #title {
        color: #eeeeee;
        font-family: 'Satisfy', cursive;
        cursor: pointer;
        font-size: 25px;
        padding: 1rem;
    }




    #about {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        padding: 0rem 2rem;
        text-align: center;
    }

    #about h1 {
        text-align: center;
    }

    .grid-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        /* Adjust the gap between icons */
        max-width: 100vw;
        /* Adjust the maximum width of the grid */
        padding: 0rem 0rem;
        padding: 30px;
    }

    .grid-item {
        text-align: center;
        width: 33vw;
    }



    .grid-item img {
        width: 10px;
        /* Adjust the icon size as needed */
        height: 10px;
    }


    .amin {

        accent-color: #ff050f;
        color: #ff272e;
        font-family: "Lato", sans-serif;
        cursor: pointer;


    }

    #findMeOnline {
        font-weight: bolder;
        scale: 0.98;
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: auto;
        padding-right: auto;
    }

    #portfolio-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px 20px;
    }

    #portfolio iframe {
        width: 80%;
    }

    #blog p {
        text-align: center;
    }


    #links {
        display: none;

    }

    #links a {
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        color: #eeeeee;
        padding: 0rem 2rem 0rem 2rem;
        border-radius: 5px;
        text-decoration: none;
    }
}